<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/create">CREATE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="/read">READ</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h2 class="mb-4">Employee List</h2>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Company</th>
          <th scope="col">Sex</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de empleados y muestra cada uno -->
        <tr th:each="employee : ${employees}">
          <th scope="row" th:text="${employee.role}"></th>
          <td th:text="${employee.employeeId}"></td>
          <td th:text="${employee.first_name}"></td>
          <td th:text="${employee.lastName}"></td>
          <td th:text="${employee.company}"></td>
          <td th:text="${employee.biologicSex}"></td>
          <td><a th:href="@{'/update/' + ${employee.employeeId}}" class="btn btn-warning">Update</a></td>

          <td>
            <!-- Formulario para la eliminación del empleado -->
            <form th:action="@{'/delete/' + ${employee.employeeId}}" method="post">
              <input type="hidden" name="_method" value="DELETE"/>
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
